@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	/*margin-top:auto;*/
	padding:0;
	box-sizing:border-box;
	font-family:century;
}

ul{
	list-style: none;
}
a{
	text-decoration: none;
}
#logo img{ 
		background-color:transparent;
		width:150px;
		height:150px;
		letter-spacing:2px;
		margin-left:20px;
}
ul#workday{
			display:block;
			float:right;
			text-align:right;
			margin-right:-1550px;
			margin-top:-20px;
			line-height:10px;
			cursor:default;
			}
ul#workday a{
			text-decoration:none;
			padding:!important;
			display:block;
			color:#FF3;
			text-align:right;
			line-height :50px;
			word-spacing:2px;
			cursor:default;
			line-height:190%;
}
ul#workday a:hover{
					text-align:right;
					color:#C33;
}

.container{
	margin: 0px 0px;
	max-width:1000px;
}

body{
	height:100vh;
	width:100%;
	justify-content: end;
	align-content:end;
	/*display:grid;*/
	background:#DCDED6;
}

header{
	position:fixed;
	top:0px;
	left:0;
	width:100%;
	border-bottom:1px solid #F60;
	padding:10px 10px;
	transition:all 0.5s ease-in-out;
}

header.sticky
{
	background: #FFF;
	opacity:0.9;
}
header.sticky #logo img
{
	color: #000;
}

header.sticky #main-menu a
{
	color: #03C;
}
header.sticky #workday a
{
	color: #06C;
}
.inner-header {
	display: flex;
	justify-content: space-between;
	align-items:center;
}
ul#main-menu{
		display: flex;
		margin-top: 80px;
}
ul#main-menu a{
		text-decoration:none;
		padding: 5px 15px;
		color: #FFB;
		display:block;
		font-family: "Times New Roman", Times, serif;
		/*font-weight: bolder;*/
		font-size:17px;
}
ul#main-menu a:hover{
		background:#3FF;
		color:#F00;
}
.Active i{ margin-right:8px;}

.Active1 i{ margin-right:8px;}

.Active2 i{ margin-right:8px;}

.Active3 i{ margin-right:8px;}

.Active4 i{ margin-right:8px;}

#banner{
	background:url(images/sydney-harbour.jpg);
	min-height:480px;
	max-height:640px;
	width:100%;
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	top: 0x;
}
.note{
	font-weight:600;
	font-size:35px;
	text-align:center;
}

.note p{
	padding:12%;
}

.Submenu{
	display:none;
	position:absolute;
	background:#F66;
}
.Submenu li{
	padding: 5px;
	width: 230px;
	border-bottom: 1px #990000;
	background: transparent;
	transition: 0.5 ease;
	text-align: left;
	border-radius:0px;
	margin-left:0 !important;
}
.Submenu li:hover{
	color:#0FF;
}
#main-menu li{
	position: relative;
}
#main-menu li:hover .Submenu{
	display: block;
}
#flagicon img{
			margin-top:-10px;
			width:20px;
			height:20px;
			cursor:default;
							
}
.socialmedia ul{
		position:absolute;
		display:flex;
		transform:translate(50%,50%);
		font-size:0px;
		text-justify:!important;
}

.socialmedia ul li{
		list-style:none;
		margin: 0 -10px;
		margin-top:-35px;
		margin-right:20px;
		/*display:flex;*/
}
.socialmedia ul li .fa-brands{
			font-size:25px;
			line-height:40px;
			transition:.3s;
			color:#C33;
}
.socialmedia li .fa-brands:hover{
	color:#000000;
}
.socialmedia ul li a{
	position:relative;
	display:inline-block;
	width:40px;
	height:40px;
	border-radius:50%;
	text-justify:center;
	background-color:#rgb(204,0,102);
	text-align:center;
	box-shadow:0 4px 8px 0 rgb(102,204,255);
	transition:.6s;
}
.socialmedia ul li a:hover{
	transform:translate(0,-30%);
}
.socialmedia ul li:nth-child(1) a:hover{
	background-color:#06F;
}
.socialmedia ul li:nth-child(2) a:hover{
	background-color:#06F;
}
.socialmedia ul li:nth-child(3) a:hover{
	background-color:#F36;
}
.socialmedia ul li:nth-child(4) a:hover{
	background-color:#6CF;
}
.socialmedia ul li:nth-child(5) a:hover{
	background-color:#6F3;
}
.socialmedia ul li:nth-child(6) a:hover{
	background-color:#09F;
}

/*========================form contact==========================*/

.contactform{
	min-height:100vh;
	background:transparent;
	display:inline-block;
	justify-content: right;
	margin-left:700px;
	margin-top:-10%;
}

.contactform form{
	width: 650px;
	height:330px;
	display:relative;
	padding:30px 10px;
	justify-content:center;
	box-shadow: 20px 20px 50px #rgba(255,255,255,0.5);
	border-radius:15px;
	background:#E6FFFF;
	/*backdrop-filter:sepia(90%);*/
}
	
.contactform h1 {
	color:#730039;}
#firstname {
	color:#000;}
	
.contacform form h1 {
	color:#800040;
	font-weight:500;
	margin-top:10px;
	width:500px;
	text-align:center;
	padding:2px 10px;
}
.contactform form input {
	width:250px;
	height:40px;
	padding-left:20px;
	outline:none;
	border:none;
	font-size:15px;
	margin-bottom:10px;
	background:none;
	border-bottom:2px solid #fff;
	color:#000;
}

.contacform form input::placeholder {
	color:#FC0;}
	
.contactform form #lastname {
	margin-left:20px;}
	
.contactform form #email {
	margin-left:20px;}

.contactform form textarea {
	background:none;
	border:none;
	border-bottom:2px solid #fff;
	color:#000;
	font-weight:200;
	font-size:15px;
	padding:10px;
	outline:none;
	max-height:80px;
	max-width:600px;
	min-height:80px;
	min-width:600px;
	}
textarea::-webkit-scrollbar{
	width:1em;
}
textarea::webkit-scrollbar-thumb {
	background-color:#rgba(194,194,194,0.713);
}

.contactform form #button {
	border:none;
	background:#fff;
	border-radius:5px;
	margin-top:20px;
	font-weight:500;
	font-size:16px;
	color:#EB311D;
	width:100px;
	padding:0;
	margin-right:500px;
	margin-bottom:30px;
	transition:0.3s
}

.contactform form #button:hover{
	opacity:0.7;}
	
/*==================================form learn more about us==============*/
.box1 {
	display:flex;
	padding:0;
}

.box1 form {
	display:inline-block;
	padding:15px;
	text-align:center;
	margin-top:-10%;
	/*transform:translate(0,200%);*/
}
.box1 form h1{
	font-size:25px;
	font-weight:500;
	margin-bottom:15px;
	}
	
.box1 form #button {
	padding:12px 50px;
	background:#0ef;
	border:none;
	outline:none;
	border-radius:5px;
	box-shadow:0 0 10px #0ef;
	font-size:18px;
	color:#F03;
	letter-spacing:1px;
	font-weight:500;
	cursor:pointer;
	transition:.5s;
}

.box1 form #button:hover{
	box-shadow:none;}
/*===============================End form learn more about us===================*/
/*===============================End Contact Form===============================*/
/*Footer and nav bar*/
footer{
	position:relative;
	clear:both;
	bottom:0px;
	width:100%;
	border-top:1px solid #F60;
	background:#FFF;
	transition:all 0.5s ease-in-out;
}

.fcontainer {	
	display:flex;
	padding:0 15px;
	width:100%;
}

.fcontainer .box{
	flex-basis:50%;
	padding:15px 15px;
}

.box h2{
		font-size:14px;
		font-weight:600;
		text-transform:uppercase;
}

.quicklinks h2{
		text-align:center;
}

.followus ul{
	text-align:left;
}

.fcontainer h2{
	color:#2B2BFF;
	font-size:14px;
	margin-bottom:25px;
	font-weight:600;
	position:relative;
	width:40%;
}

/*=================================================*/
/* underline title */

.fcontainer h2::before{
	content:'';
	position:absolute;
	left:0;
	bottom:-10px;
	background:#DFDF00;
	height:2px;
	box-sizing:border-box;
	width:80px;
}
/*==================================================*/
.fcontainer p{
	width:450px;
	margin:auto;
	padding:7px;
	font-size:14px;
	line-height:70%;
}

.quicklinks ul{
	text-align:left;
}

.list{
	padding:10px;
}

.list li{
	width:auto;
	text-align:left;
	list-style-type:none;
	padding:10px;
	font-size:14px;
	position:relative;
	margin-top:0;
}

.list li::before{
	content:'';
	position:absolute;
	transform:translate(-50%,-50%);
	left:20%;
	top:100%;
	width:0;
	height:2px;
	background:#FFC;
	transition-duration:.5s;
}

.list li:hover::before{
	width:120px;
}

.social-icons{
	text-align:center;
}

.social-icons li{
	display:inline-block;
	text-align:center;
	padding:5px 10px;
}

.social-icons i{
	color:#007EFD;
	font-size:25px;
}

a{
	text-decoration:none;
}

a:hover{
	color:#EC523C;
}

.social-icons i:hover{
	color:#E46856;
}

.email {
	padding:5px 0px;
}
.msg {
	padding:5px 0px;
}

.box .error-txt{
	display:none;
}

.message .item {
	width:100%;
	background:transparent;
	border:2px solid #8F2C0A;
	outline:none;
	border-radius:5px;
	color:#B70000;
	resize:none;
}

.box .item::placeholder{
	color:#rgba(255,255,255,.3);
	}

form button {
	padding:12px 50px;
	background:#0ef;
	border:none;
	outline:none;
	border-radius:5px;
	box-shadow:0 0 10px #0ef;
	font-size:12px;
	color:#F03;
	letter-spacing:1px;
	font-weight:500;
	cursor:pointer;
	transition:.5s;
}

form button:hover{
	box-shadow:none;}

.bottom-bar{
	background:#603;
	text-align:center;
	padding:10px 0;
	margin-top:10px;
}

.bottom-bar p{
	color:#fff;
	margin:0;
	font-size:12px;
	padding:2px;
}